<router-outlet>
  <br>

  <div class="container d-flex justify-content-center align-items-center flex-column" style="min-height: 60vh;">

    <div class="container title p-1 mb-5 d-flex justify-content-start align-items-center">
      <h2>Cambiar Contraseña</h2>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-wrap gap-4" id="reset-container">

        <form id="restart_pass" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="new_password" name="new_password" formControlName="password" placeholder="Nueva Contraseña">
            <label for="new_password" class="form-label">Nueva Contraseña</label>

            @if (changePasswordForm.get('password')?.hasError('required') && changePasswordForm.get('password')?.touched) {
              <p id="error">
                <small>La contraseña es obligatoria</small>
              </p>
            }
            @else if (changePasswordForm.get('password')?.hasError('pattern') && changePasswordForm.get('password')?.touched) {
              <p id="error">
                <small>La contraseña debe tener entre 6 y 18 caracteres, mayúsculas, minúsculas, dígitos y caracteres especiales (&#64;$!%*?&)</small>
              </p>
            }
            <div class="form-text">La contraseña debe tener entre 6 y 18 caracteres, mayúsculas, minúsculas, dígitos y caracteres especiales (&#64;$!%*?&)</div>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" formControlName="confirm_password" placeholder="Confirmar Nueva Contraseña">
            <label for="confirm_new_password" class="form-label">Confirmar Nueva Contraseña</label>
             @if (changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirm_password')?.touched) {
              <p>
                <small>**Las contraseñas no coinciden</small>
              </p>
            }

          </div>
          <br>
          <div class="mb-3 d-flex justify-content-center align-items-center">
            <button type="submit" class="pt-2 pb-2">Guardar</button>
          </div>
        </form>
    </div>
  </div>

  <br>
</router-outlet>
