
.title{

  h2{
    color: var(--cffy-theme-primary-a40);
  }

  p{
    color: var(--cffy-theme-primary-a40);
  }
}

.card{
  background-color: var(--cffy-theme-surface-a10);
  border-radius: 15px;
  padding: 15px;

}

button{
  background-color: var(--cffy-theme-primary-a20);
  border: none;
  color: var(--cffy-theme-surface-a0);
}

.bt-send{
  width: 100%;
}

.bt-limpiar{
  background-color: var(--cffy-theme-surface-a0);
  border: 1px solid var(--cffy-theme-surface-tonal-a40);
  color: white;
  width: 100%;
}

.form-text{
  color: var(--cffy-theme-primary-a40);
}

#reset-container{
  width: 30%;
}

@media (max-width: 425px) {

  .card{
    width: 100%;
  }



}
