
.title{

  h2{
    color: var(--cffy-theme-primary-a40);
  }

  p{
    color: var(--cffy-theme-primary-a40);
  }

  animation: card_anim_left 1s ease 0s 1 normal forwards;
}

@keyframes card_anim_left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

button{
  background-color: var(--cffy-theme-primary-a0);
  border: none;
  border-radius: 10px;
  width: 60%;
  color: #fff;
}

.limpiar{
  background-color: var(--cffy-theme-surface-a10);
}

.card-text{
  color: var(--cffy-theme-primary-a40);
}

.form-text{
  color: var(--cffy-theme-primary-a40);
}

small{
  color: var(--cffy-theme-danger-a0);
}

#reset-container{
  width: 40%;
}

@media (max-width: 425px) {
  button{
    width: 100%;
  }

  #reset-container{
    width: 100%;
  }

}
