<router-outlet>
  <br>
  <br>

  <div class="container d-flex justify-content-center align-items-center flex-column" style="min-height: 60vh;">

    <div class="container title p-1 mb-5 d-flex justify-content-start align-items-center">
      <h2>Cambiar Contraseña</h2>
    </div>

    <div class="container d-flex justify-content-center align-items-center flex-wrap gap-4">

      <div class="card" style="width: 35rem;">

        <div class="card-body">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

            <div class="input-group">
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('password')">
                <i [ngClass]="{'bi bi-eye': !showPassword, 'bi bi-eye-slash': showPassword}"></i>
              </button>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Nueva Contraseña" formControlName="password">
            </div>

            @if (changePasswordForm.get('password')?.hasError('required') && changePasswordForm.get('password')?.touched){
              <p>
                <small class="text-danger">**Este campo es obligatorio.</small>
              </p>
            } @else if (changePasswordForm.get('password')?.hasError('pattern') && changePasswordForm.get('password')?.touched){
              <p>
                <small class="text-danger">**La contraseña debe contener entre 6 y 18 caracteres y al menos una letra mayúscula, una letra minúscula, un número y un carácter especial.</small>
              </p>
            }
            <div class="form-text">
              <small>La contraseña debe contener entre 6 y 18 caracteres y al menos una letra mayúscula, una letra minúscula, un número y un carácter especial.</small>
            </div>

            <br>

            <div class="input-group mt-3">
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('confirmPassword')">
                <i [ngClass]="{'bi bi-eye': !showConfirmPassword, 'bi bi-eye-slash': showConfirmPassword}"></i>
              </button>
              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
            </div>

            @if (changePasswordForm.get('confirmPassword')?.hasError('required') && changePasswordForm.get('confirmPassword')?.touched){
              <p>
                <small class="text-danger">**Este campo es obligatorio.</small>
              </p>
            } @else if (changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched){
              <p>
                <small class="text-danger">**Las contraseñas no coinciden.</small>
              </p>
            }

            <div class="d-lg-flex justify-content-lg-center align-items-lg-center gap-3 d-grid gap-2 mt-4">
              <button type="submit" class="btn bt-send">Enviar</button>
              <button type="reset" class="btn bt-limpiar">Reset</button>
            </div>

          </form>
        </div>

      </div>


    </div>
  </div>

  <br>
  <br>
</router-outlet>
