<router-outlet>
  <br>

  <div class="container title p-1 mb-4 d-flex justify-content-start align-items-center">
    <h2>Política de Privacidad</h2>
  </div>
  <div class="container mb-5 terminos-condiciones">
    <p>En Ludus Arcanus, valoramos tu privacidad y nos comprometemos a proteger tus datos personales. Esta política de privacidad describe cómo recopilamos, usamos y protegemos tu información cuando visitas nuestro sitio web o realizas una compra en nuestra tienda en línea.</p>

    <h3>1. Información que Recopilamos</h3>
    <p>Recopilamos información personal que nos proporcionas voluntariamente al registrarte, realizar una compra o suscribirte a nuestro boletín. Esto puede incluir tu nombre, dirección de correo electrónico, dirección de envío, número de teléfono y detalles de pago.</p>

    <h3>2. Uso de la Información</h3>
    <p>Utilizamos tu información para procesar tus pedidos, mejorar nuestros servicios, enviarte actualizaciones sobre tus compras y ofrecerte promociones especiales. No compartimos tu información con terceros para fines comerciales sin tu consentimiento explícito.</p>

    <h3>3. Seguridad de la Información</h3>
    <p>Implementamos medidas de seguridad para proteger tu información personal contra accesos no autorizados, alteraciones o divulgaciones. Utilizamos tecnología de cifrado para proteger los datos sensibles durante las transacciones en línea.</p>

    <h3>4. Cookies</h3>
    <p>Nuestro sitio web utiliza cookies para mejorar tu experiencia de navegación. Las cookies son pequeños archivos que se almacenan en tu dispositivo y nos ayudan a recordar tus preferencias y a analizar el tráfico del sitio. Puedes configurar tu navegador para rechazar las cookies si lo deseas.</p>

    <h3>5. Tus Derechos</h3>
    <p>Tienes derecho a acceder, corregir o eliminar tu información personal en cualquier momento. Si deseas ejercer estos derechos o tienes alguna pregunta sobre nuestra política de privacidad, no dudes en contactarnos a través de nuestro correo electrónico:
  </div>

  <br>
</router-outlet>
