h2{
  color: var(--cffy-theme-primary-a40);
}

.btn {
  color: var(--cffy-theme-surface-a0);
  background-color: var(--cffy-theme-primary-a40);
  border: none;
  cursor: pointer;
}

.btn-limpiar{
  background-color: var(--cffy-theme-surface-a0);
  color: #fff;
  border: 1px solid var(--cffy-theme-surface-tonal-a40);
}
