<router-outlet>
  <div class="col-12 container-fluid container-md d-flex justify-content-start align-items-center gap-4 p-3" id="juegos_rol">
    @for (juego of productos; track juego.id_producto) {

      @if (juego.categoria_producto == 'juegos-rol') {
        <div class="card p-0 d-flex flex-column justify-content-center align-items-center" style="width: 14rem; height: 20rem; background-image: url('/{{juego.categoria_producto}}/{{juego.imagen_producto}}'); background-size: cover; background-position: center;">
          <div class="card-body d-flex flex-column justify-content-end align-items-start">

            <div class="container-fluid d-flex justify-content-end align-items-start flex-column" id="datos-producto">
              <h5 class="card-title mt-2 mb-0"><small>{{juego.nombre_producto}}</small></h5>
              <p class="card-text mb-2"><small><strong>Precio:</strong> {{formatoCLP.format(juego.precio_producto)}}</small></p>
              <div class="d-flex gap-2">
                <a class="btn" role="button" routerLink="/producto/{{juego.id_producto}}">Ver Detalles</a>
                <button class="buy" (click)="comprarJuego(juego.id_producto)"><i class="bi bi-cart4"></i> </button>
              </div>
            </div>
          </div>
        </div>
      }
    } @empty {
      <div class="destacados container d-flex justify-content-center align-items-center flex-wrap gap-4">
        <p style="color: var(--cffy-theme-primary-a30);">No hay productos destacados disponibles en este momento. ¡Vuelve pronto para descubrir nuestras novedades!</p>
      </div>
    }
  </div>
</router-outlet>
